@import url("../colors.css");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: var(--gray-400);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url("../colors.css");

body {
  margin: 0;
  padding: 0;
  background: var(--gray-100);
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 12px 24px;
  font-size: 20px;
}
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--primary-color);
  color: var(--light-color);
  border-bottom: 3px solid var(--secondary-color);
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left h2 {
  margin: 0;
}
.logo {
  height: 50px;
  max-width: 100%;
  object-fit: contain;
}

.login-container {
  width: 100%;
  max-width: 400px;
  background: var(--light-color);
  border-radius: 18px;
  margin-top: 240px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.4s ease;
}

.top-section {
  background: var(--primary-color);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom-left-radius: 50% 25%;
  border-bottom-right-radius: 50% 25%;
}

.form-section {
  padding: 32px 28px;
  text-align: center;
}

.form-section h2 {
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
}

.descricao {
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form input {
  padding: 14px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
}

form input:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 2px var(--shadow-warning);
}

form button {
  margin-top: 4px;
  padding: 14px;
  background: var(--accent-color);
  color: var(--dark-text-color);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

form button:hover {
  background: var(--accent-color);
  transform: translateY(-2px);
}

.alerta {
  margin-top: 18px;
  font-size: 13px;
  color: var(--status-vencido);
  font-weight: bold;
  text-align: center;
}

/* Animação */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
